#casinotaktikse-footer {
	padding: 15px 0;
	color: $footer-text-color;
	font-size: 15px;
	background: $footer-bg-color;
	p:last-child {
		margin: 0
	}
	.casinotaktikse-copyright {
		i {
			background:url('../images/logo-footer.png') no-repeat center center;
			width: 199px;
			height: 28px;
			display: inline-block;	
			margin-right:10px;
			position: relative;
    		bottom: -9px;
		}
	}
}