#casinotaktikse-header {
	
	.navbar-brand {
		height: auto;
		padding: 0px 0px;
		margin: 0 auto;
		display: block;
		text-align: center;
		> img {
			display: inline;
		}

	}
	
	.navbar-header {
		text-align: center;
		margin: 5px auto;
	}
	.wrap-search {
	    padding: 10px 0;
	    display: none;
	    background: #000;
	}

}
.sticky-wrapper {
	position: relative;
	z-index: 2; 
	&.is-sticky #casinotaktikse-header {
		z-index: 9; 
		box-shadow: 0 4px 6px rgba(0,0,0,0.3);
	}
}

.navbar-toggle {
	margin-right: 0;
	margin-top: 26px;
	border-color: white;
	.icon-bar {
		background: white;
		
	}
}


@include md_tablet {
	#casinotaktikse-header {
		background: $header-bg-color;
		position: fixed;
		width: 100%;
		z-index: 99;
		top:0;
		.navbar-brand {
			padding: 10px 0;
			max-width: 100px;
			display: block!important;
			> img {
				display: block;
			}
		}
		
	}
	.navbar-toggle {
		margin-top: 10px;
		display: block;
	}
	.logo {
		padding-left: 0;
	}
	body {
		&.admin-bar {
			#casinotaktikse-header {
				top:46px;
			}
		}
	}
}

