// style used  for both mobile and desktop 
.navbar-nav {
    float: none!important;
    text-align: left;
    padding: 20px 0;
    // style used for all level
    li {
        a {
            text-transform: uppercase;
            font-size: $navbar-default-link-size;
        }
    }
    // for first level li
    > li {
        float: none;
        display: block;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        > a {
            display: inline;
            color: $navbar-default-link-color;
            background: $navbar-default-link-bg;
            user-select: none;
            padding: 0;
            font-weight: 300;
            &:hover,
            &:focus,
            &:active {
                background: $navbar-default-link-bg;
                color: $navbar-default-link-hover-color;
            }
        }
        // current menu color
        &.current-menu-item {
            > a {
                color: $navbar-default-link-color-current;
            }
        }
        // style for  parent item (arrow icon)
        &.menu-item-has-children {
            position: relative;
            &:after {
                content: "";
                right: 20px;
                display: block;
                position: absolute;
                top: 15px;
                width: 10px;
                height: 10px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                border-left: 1px solid white;
                border-bottom: 1px solid white;
            }
            &:before {
                background: white none repeat scroll 0 0;
                content: "";
                display: block;
                height: 43px;
                position: absolute;
                right: 50px;
                top: 0;
                width: 1px;
            }
            &.open {
                padding-bottom: 0;
                a {
                    background: none;
                }
                &:after {
                    top: 20px;
                    -webkit-transform: rotate(-225deg);
                    transform: rotate(-225deg);
                }
                ul li a {
                    padding: 0;
                }
            }
        }
        // submenu 
        ul {
            margin: 0 -20px;
            user-select: none;
            min-width: 250px;
            padding: 0 0 0;
            li {
                a {
                    display: inline;
                    padding: 0;
                    text-transform: none;
                     white-space: normal;
                }
            }
        }
    }
}
.m-logo {
    display: inline-block;
}
// min-wdith :1025 , css for desktop only, write css for desktop only
@include desktop {
    .m-logo {
    display: none;
    }
    .navbar-nav {
        text-align: center;
        padding: 0;
        > li {
            display: inline-block;
            padding: 0;
            border :none;
            margin-right: -6px;
            &:last-child .dropdown-menu {
                left: auto;
                right: 0;
            }
            &:hover {
                ul {
                    display: block;
                }
            }
            &:first-child {
                >a {
                    border-left:1px solid #000;
                }
            }
            > a {
                display: block;
                padding: 20px 30px;
                border-right:1px solid #000;
                border-bottom:1px solid #000;
                border-top:none;
            }

            /* &.current_page_item {
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: 20px;
                    height: 1px;
                    width: calc(100% - 30px);
                    transform: translateX(-50%);
                    background: #fc4a1a;
                }
            } */
            &.menu-item-has-children {
                &:after,
                &:before {
                    display: none
                }
            }
            ul {
                margin: 0;
                padding: 10px 0!important;
                li {
                    & + li {
                        margin: 0;
                    }
                    a {
                        display: block;
                        padding: 5px 10px!important;
                    }
                }
            }

        }
        >li.icon-search {
                background:url('../images/search-icon.png') no-repeat center center;
                text-indent: -9999px;
                a {

                }
        }
    }
}

// media query for lanscape ipad only
@include tablet {
    .navbar-nav {
        padding:0;
    }
    .navbar-nav > li {
        > a {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
        }
        ul {
            a {
                font-size: 14px;
            }
        }
    }
   .navbar-nav  .icon-search  {
        display: none;
    }
}

// media query max-width 990 for mobile only and ipad portrait 
@include md_tablet {
    #wpadminbar {
        position: fixed;
        
    }
    .casinotaktikse-hero-banner .desktop-logo img {
        max-width: 55%;
    }
    .navbar-nav > li {
        > a {

            color:#fff;
        }
        ul {
            a {
                font-size: 14px;
            }
        }
    }
    .navbar-collapse {
        overflow-x: hidden;
         border-top: 1px solid #ddd;
        margin: 0 -15px;
        .dropdown-menu {
            border-top: 1px solid #ddd!important;
            li {
                padding: 10px 50px;
                border-bottom: 1px solid #ddd;
                a {
                    text-transform: uppercase;
                    font-weight: 300;
                }
            }
        }
    }
    .navbar-nav .open .dropdown-menu {
        margin-top: 10px;
    }
    .caret {
        display: none
    }
    .m-logo {
        background:url("../images/logo-footer.png") no-repeat center center;
        width: 199px;
        height: 28px;
        display: inline-block;
        float: left;
        margin-top: 13px;
    }

}

// media query max-width 767 for mobily only
@include xs {
    .navbar-nav {
        padding: 0;
    }
    .navbar-collapse.in {
        max-height: calc(100vh - 88px);
    }
}
